<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 banner-left">
                <a href="#">
                    <img src="./assets/images/banner-title.png" alt="">
                </a>
                <div class="button-save">
                    <a href="#">
                        Save now
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="zone-sale">
                    <!-- <h1>40% off</h1> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="learn">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 learn-left">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 khoi">
                        <a href="#">
                            <img src="./assets/images/learn-js.png" alt="">
                            <span>path</span>
                            <h5>JavaScript</h5>
                            <p>11 Courses</p>
                            <h6>Take a look</h6>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 khoi ">
                        <a href="#">
                            <img src="./assets/images/learn-angular.png" alt="">
                            <span>path</span>
                            <h5>Angular</h5>
                            <p>14 Courses</p>
                            <h6>Take a look</h6>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 khoi ">
                        <a href="#">
                            <img src="./assets/images/learn-python.png" alt="">
                            <span>path</span>
                            <h5>Core Python</h5>
                            <p>12 Courses</p>
                            <h6>Take a look</h6>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 khoi">
                        <a href="#">
                            <img src="./assets/images/learn-csap.png" alt="">
                            <span>path</span>
                            <h5>C#</h5>
                            <p>19 Courses</p>
                            <h6>Take a look</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 learn-right">
                <span>TRENDING TECHNOLOGIES</span>
                <h5>Popular topics
                    to learn now</h5>
                <p>Not sure what technologies to focus on? The Technology Index ranks 850+ technologies by their
                    relative popularity. See what’s topping the charts and get recommended courses to skill up.
                </p>
                <a href="#">
                    <h6>View the index</h6><i class='bx bx-chevron-right'></i>
                </a>

            </div>
        </div>
    </div>
    </div>
</section>

<section class="new">
    <div class="container">
        <div class="row">
            <span>SEE WHAT'S NEW</span>
            <h5>Our latest features</h5>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 new-left">
                <img src="./assets/images/logo-skills.png" alt="">
                <h6>LABS</h6>
                <h5>Create better cloud outcomes with hands-on experience</h5>
                <p>Your teams need the right skills and a place to practice to ensure they’re ready to deliver
                    on
                    your cloud objectives. Labs enable learners to get hands-on practice in a provisioned cloud
                    environment in AWS, Azure and Google Cloud (Google Cloud powered by Quiklabs).</p>

                <a href="#">
                    <h6 class="learn-more">Learn more</h6><i class='bx bx-chevron-right'></i>
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 new-right">
                <img src="./assets/images/Cloud-labs-image2x.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="new-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 khoi">
                <img src="./assets/images/certification-prep.png" alt="">
                <h5>Empower your teams to grow their skills and their careers</h5>
                <p>Prepare your team for certification exams with our expert authored content and practice
                    exams.
                </p>
                <a href="#">
                    <h6>Learn more</h6><i class='bx bx-chevron-right'></i>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 khoi">
                <img src="./assets/images/delivery-module.png" alt="">
                <h5>Make lasting workflow improvements with insights from your Jira data</h5>
                <p>Go beyond Jira data and get visibility into what’s happening within your user stories, tasks
                    and
                    bugs. Flow’s delivery module helps you better understand how your team is working and can
                    make
                    lasting improvements to your workflow.</p>
                <a href="#">
                    <h6>Learn more</h6><i class='bx bx-chevron-right'></i>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 khoi">
                <img src="./assets/images/sandboxes.png" alt="">
                <h5>Utilize a space for unrestricted exploration</h5>
                <p>Sandboxes gives your team a safe environment to practice what they're learning from
                    expert-authored courses.</p>
                <a href="#">
                    <h6>Learn more</h6><i class='bx bx-chevron-right'></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="update">
    <div class="container">
        <div class="row">
            <span>KEEP UP TO DATE</span>
            <h5>Discover more about Pluralsight</h5>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xm-12 khoi">
                <a href="#">
                    <img src="./assets/images/momentInTime-compareOnlineCourseProviders.png" alt="">
                </a>
                <h6>COMPARE ONLINE COURSE PROVIDERS</h6>
                <p>Unbiased reviews to help you make the right decision for your team</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xm-12 khoi">
                <a href="#">
                    <img src="./assets/images/momentInTime-whichProductForYou.png" alt="">
                </a>
                <h6>WHICH TECH SKILL DEVELOPMENT PRODUCT IS RIGHT FOR YOU?</h6>
                <p>Reduce decision fatigue with helpful data based on your peers’ experiences</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xm-12 khoi">
                <a href="#">
                    <img src="./assets/images/mon-3.jpg" alt="">
                </a>
                <h6>WHAT IS PLURALSIGHT SKILLS?</h6>
                <p>Discover the fastest, most effective path to developing technology skills.</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xm-12 khoi">
                <a href="#"><img src="./assets/images/mon-4.jpg" alt=""></a>
                <h6>CREATE YOUR FREE ACCOUNT</h6>
                <p>Build new tech skills on us with free access to 50+ expert-led courses, assessments and more.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="banner-mid">
    <div class="container">
        <div class="row">
            <img class="col-lg-6 col-md-12 col-sm-12 col-xs-12 img-left" src="./assets/images/banner-mid.png"
                alt="">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 banner-mid-right">
                <img src="./assets/images/banner-mid-icon.png" alt="">
                <h5>Winning the talent war with a scalable tech skills platform</h5>
                <p>Evolving a 20-year-old company, increasing innovation and accelerating time to delivery
                    requires
                    fresh
                    skills. See how VMware’s globally dispersed teams use Pluralsight to leverage the latest
                    developments in
                    technology as they find new ways to serve customers.</p>
                <div class="button-how">
                    <a href="#">How they're skilling up</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 course-title">
            <h1>A broad selection of courses</h1>
            <p>Choose from 183,000 online video courses with new additions published every month</p>
            <button class="course-button active" data-title="#python" title="Python">
                Python
            </button>
            <button class="course-button " data-title="#excel" title="Excel">
                Excel
            </button>
            <button class="course-button " data-title="#web" title="Web Development">
                Web Development
            </button>
            <button class="course-button " data-title="#javascript" title="Javascript">
                Javascript
            </button>
            <button class="course-button " data-title="#data" title="Data Science">
                Data Science
            </button>
            <button class="course-button " data-title="#aws" title="AWS Certification">
                AWS Certification
            </button>
            <button class="course-button " data-title="#drawing" title="Drawing">
                Drawing
            </button>
            <button style="float: right;" class="course-button " data-title="#coursescart" title="CoursesCart">
                CoursesCart
            </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="course-main active" id="python">
                <div class="course-main-title">
                    <h2>Expand your career opportunities with Python</h2>
                    <p>Whether you work in machine learning or finance, or are pursuing a career in web
                        development
                        or data
                        science, Python is one of the most important skills you can learn. Python's simple
                        syntax is
                        especially suited for desktop, web, and business applications. Python's design
                        philosophy
                        emphasizes
                        readability and usability. Python was</p>
                    <button class="explore">Explore Python</button>
                </div>
                <div class="course-main-slider responsive ">
                    <% course.forEach(function(course) { %>
                    <a id="<%= course.id %>" href="#" class="slider">
                        <img src="<%= course.img %>" alt="">
                        <h3><%= course.sliderH3 %></h3>
                        <h4><%= course.sliderH4 %></h4>
                        <h6>A$<%= course.sliderH6 %></h6>
                    </a>
                   <% }); %>
                </div>
            </div>
            <div class="course-main " id="excel">
                <div class="course-main-title">
                    <h2>Analyze and visualize data with Excel</h2>
                    <p>Regardless of the industry you work in, Microsoft Office Excel is an invaluable
                        spreadsheet
                        program for organizing and representing data. Excel offers functions, formulas, and
                        pivot
                        tables to help you aggregate and then analyze large sets of information. Excel first
                        truly
                        appeared on the scene way back in 1987, when a version</p>
                    <button class="explore">Explore Execl</button>
                </div>
                <div class="course-main-slider responsive ">
                    <% course.forEach(function(course) { %>
                        <a id="<%= course.id %>" href="#" class="slider">
                            <img src="<%= course.img %>" alt="">
                            <h3><%= course.sliderH3 %></h3>
                            <h4><%= course.sliderH4 %></h4>
                            <h6>A$<%= course.sliderH6 %></h6>
                        </a>
                       <% }); %>
                </div>
            </div>
            <div class="course-main " id="web">
                <div class="course-main-title">
                    <h2>Build websites and applications with Web Development</h2>
                    <p>The world of web development is as wide as the internet itself. Much of our social and
                        vocational lives play out on the internet, which prompts new industries aimed at
                        creating, managing, and debugging the websites and applications that we increasingly
                        rely on.</p>
                    <button class="explore">Explore Web Development</button>
                </div>
                <div class="course-main-slider responsive">
                    <% course.forEach(function(course) { %>
                        <a id="<%= course.id %>" href="#" class="slider">
                            <img src="<%= course.img %>" alt="">
                            <h3><%= course.sliderH3 %></h3>
                            <h4><%= course.sliderH4 %></h4>
                            <h6>A$<%= course.sliderH6 %></h6>
                        </a>
                       <% }); %>
                </div>
            </div>
            <div class="course-main " id="javascript">
                <div class="course-main-title">
                    <h2>Grow your software development skills with JavaScript</h2>
                    <p>JavaScript is one of the most ubiquitous programming languages on the planet, mostly
                        because
                        it's the backbone of interactive web applications. On top of that, JavaScript is a great
                        language for beginners because it gives them a chance to write code that does something
                        visual, which is exciting and helpful when you're just</p>
                    <button class="explore">Explore Javascript</button>
                </div>
                <div class="course-main-slider responsive">
                    <% course.forEach(function(course) { %>
                        <a id="<%= course.id %>" href="#" class="slider">
                            <img src="<%= course.img %>" alt="">
                            <h3><%= course.sliderH3 %></h3>
                            <h4><%= course.sliderH4 %></h4>
                            <h6>A$<%= course.sliderH6 %></h6>
                        </a>
                       <% }); %>
                </div>
            </div>
            <div class="course-main " id="data">
                <div class="course-main-title">
                    <h2>Lead data-driven decisions with Data Science</h2>
                    <p>Data science is everywhere. Better data science practices are allowing corporations to
                        cut
                        unnecessary costs, automate computing, and analyze markets. Essentially, data science is
                        the
                        key to getting ahead in a competitive global climate.</p>
                    <button class="explore">Explore Data Science</button>
                </div>
                <div class="course-main-slider responsive">
                    <% course.forEach(function(course) { %>
                        <a id="<%= course.id %>" href="#" class="slider">
                            <img src="<%= course.img %>" alt="">
                            <h3><%= course.sliderH3 %></h3>
                            <h4><%= course.sliderH4 %></h4>
                            <h6>A$<%= course.sliderH6 %></h6>
                        </a>
                       <% }); %>
                </div>
            </div>
            <div class="course-main " id="aws">
                <div class="course-main-title">
                    <h2>Become an expert in cloud computing with AWS Certification</h2>
                    <p>Because Amazon Web Services is a constantly evolving cloud ecosystem, staying up with new
                        AWS
                        services and features can be a chore. That’s why earning an AWS certification is such a
                        great IT career move. In the eyes of future employers, you are an AWS authority.</p>
                    <button class="explore">Explore AWS Certification</button>
                </div>
                <div class="course-main-slider responsive">
                    <% course.forEach(function(course) { %>
                        <a id="<%= course.id %>" href="#" class="slider">
                            <img src="<%= course.img %>" alt="">
                            <h3><%= course.sliderH3 %></h3>
                            <h4><%= course.sliderH4 %></h4>
                            <h6>A$<%= course.sliderH6 %></h6>
                        </a>
                       <% }); %>
                </div>
            </div>
            <div class="course-main " id="drawing">
                <div class="course-main-title">
                    <h2>Expand your creative skillset with Drawing</h2>
                    <p>Besides being the foundation upon which most art forms are built, drawing is also an
                        excellent way to relieve stress and feed your inner creativity. Drawing teaches us how
                        to be
                        observant, develop an attention to detail, and express ourselves.</p>
                    <button class="explore">Explore Drawing</button>
                </div>
                <div class="course-main-slider responsive">
                    <% course.forEach(function(course) { %>
                        <a id="<%= course.id %>" href="#" class="slider">
                            <img src="<%= course.img %>" alt="">
                            <h3><%= course.sliderH3 %></h3>
                            <h4><%= course.sliderH4 %></h4>
                            <h6>A$<%= course.sliderH6 %></h6>
                        </a>
                       <% }); %>
                </div>
            </div>
            <div class="course-main " id="coursescart">
                <span style="color: #e40084; font-weight: bold; font-size: 20px; text-align: center;">No Courses
                    !</span>
                <!-- <div class="course-main-cart">
               <img src="./assets/images/course-web-11.jpg" alt="">
               <h3 class="cartH3">2022 Complete Python Bootcamp From Zero to Hero in Python</h3>
               <h4 class="cartH4">Jose Tina</h4>
               <h6 class="cartH6">31</h6>
            </div> -->
                <!-- <h2 class="total">
                <span>Tổng cộng: </span> $1000
            </h2> -->
            </div>
        </div>
    </div>
</section>

<section class="skills">
    <div class="title">
        <h6>FOLLOW US</h6>
        <h5>Share your skills</h5>
    </div>
    <div class="container">
        <div class="row responsive1">
            <% skill.forEach(function(skill) { %>
            <div class="slide-skill">
            <div class="top">
                <img src="<%= skill.img %>" alt="">
                <h6><%= skill.name %></h6>
                <span><%= skill.twitter %></span>
            </div>
            <div class="mid">
                <p><%= skill.comment %></p>
            </div>
            <div class="bottom">
                <i class='bx bx-message-rounded'></i>
                <i class='bx bx-heart'></i>
            </div>
        </div>
        <% }); %>
        </div>
    </div>
</section>

<section class="nonpro">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nonpro-left">
                <img src="./assets/images/nonpro-icon.png" alt="">
                <h5>See our growth,
                    progress and evolution</h5>
                <p>At Pluralsight, we see first-hand every day how technology makes the impossible, possible.
                    It’s
                    why Pluralsight One exists: To advance our mission of democratizing technology skills,
                    challenging assumptions about solutions and create significant, lasting social impact.</p>
                <a href="#">
                    <h6>FOR NONPROFITS</h6>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="free">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 free-left">
                <h5>Insights that give you an edge</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 free-right">
                <a href="#">TRY FOR FREE</a>
            </div>
        </div>
    </div>
</section>
