<section class="courses" style="padding-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 course-title">
                <h1>My learning</h1>
                <p>Choose from 183,000 online video courses with new additions published every month</p>
            </div>
            <% courses.forEach(function(course) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  course-main-slider slider ">
                <a href="/learning/<%= course._id %>">

                    <img src="<%= course.image %>" alt="">
                    <h3>
                        <%= course.name %>
                    </h3>
                    <h4>
                        <%= course.price %>
                    </h4>
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= course.percentFinish %>%"><%= course.percentFinish.toFixed(0) %>% done</div>
                      </div>
                </a>
            </div>
            <% }); %>
           
        </div>
        
    </div>
</section>