<section id="courses" class="courses" style="padding-top: 82px;">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 course-title">
            <h1>A broad selection of courses</h1>
            <p>Choose from 183,000 online video courses with new additions published every month</p>
                <button class="course-button active" data-title="#all" title="All Course">
                    All courses
                </button>
            <% categories.forEach((category)=>{%>
                <button class="course-button" id="course-btn" data-title="#<%- category.slug%>" type='submit'>
                    <%- category.nameCategory%>
                </button>
            <%}); %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="course-main active" id="all">
                <div class="course-main-title">
                    <h2>Expand your career opportunities </h2>
                    <p>Whether you work in machine learning or finance, or are pursuing a career in web
                        development
                        or data
                        science</p>
                    <button onclick="window.location.href='/courses'" class="explore">All Courses</button>
                </div>
                <div class="course-main-slider responsive ">
                    <% courses.forEach(function(courses) { %>
                        <a id="<%= courses._id %>" href="/courses/<%= courses.slug %>" class="slider">
                            <img src="<%= courses.image %>" alt="">
                            <h3>
                                <%= courses.name %>
                            </h3>
                            <h4>
                                <%= courses.author %>
                            </h4>
                            <h6>A$<%= courses.price %>
                            </h6>
                        </a>
                        <% }); %>   
                </div>
            </div>

            <% categories.forEach((category)=>{%>
                <div class="course-main" id="<%- category.slug%>">
                    <div class="course-main-title">
                        <h2>
                            <%- category.nameCategory%>
                        </h2>
                        <p>
                            <%- category.shortDescription%>a
                        </p>
                        <button class="explore">Explore <%- category.nameCategory%></button>
                    </div>
                    
                    <div class="renderCourse course-main-slider" >
                    
                    </div>
               
                </div>
            <%}); %>

            <!-- <div class="course-main " id="coursescart">
                <span style="color: #e40084; font-weight: bold; font-size: 20px; text-align: center;">No Courses
                    !</span> 
                <div class="course-main-cart">
                    <img src="./assets/images/course-web-11.jpg" alt="">
                    <h3 class="cartH3">2022 Complete Python Bootcamp From Zero to Hero in Python</h3>
                    <h4 class="cartH4">Jose Tina</h4>
                    <h6 class="cartH6">31</h6>
                </div>
                <h2 class="total">
                    <span>Tổng cộng: </span> $1000
                </h2>
            </div> -->
            
        </div>
    </div>
</section>