<div class="add-course add-question">
    <div style="padding-top: 100px; padding-bottom: 74px" class="container mt-5">
        <% course.forEach(cou=> { %>
            <form method="POST" action="/seller/courses/create/3/<%= cou._id %>">
                <div class="row">
                    <h2 class="ml-3 mt-5">Add Question</h2>
                    <% questions.forEach(function(question) { %>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <div class="row course-container">
                                <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12">
                                    <h3 class="title">
                                        <%= question.question %>
                                    </h3>
                                </div>
                                <div class="col-lg-2 col-md-10 col-sm-6 col-xs-6">
                                    <a href="/seller/courses/<%= question.course_id %>/questions/<%= question._id %>/edit" id="editBtn" type="edit"
                                        class="btn btn-info edit">Edit</a>
                                        <a href="/seller/courses/<%= question.course_id %>/questions/<%= question._id %>/delete" type="delete"
                                        class="btn btn-danger delete">
                                        Delete
                                    </a>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-6 col-xs-6">
                                    <button class="up-down">
                                        <i class="bx bxs-up-arrow"></i>
                                    </button>
                                    <button class="up-down">
                                        <i class="bx bxs-down-arrow"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 input-container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <label for="name" class="form-label">Name Question</label>
                                <input type="text" class="form-control" id="question" name="question"
                                    placeholder="Name Question" />
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <label for="name" class="form-label">Choose the correct answer</label>
                                <select class="form-control" aria-label="Default select example" name="trueAnswer" id="trueAnswer">
                                    <option value="a">A</option>
                                    <option value="b">B</option>
                                    <option value="c">C</option>
                                    <option value="d">D</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <label for="name" class="form-label">A</label>
                                <input type="text" class="form-control" id="aAnswer" name="aAnswer" placeholder="Answer" />
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <label for="name" class="form-label">B</label>
                                <input type="text" class="form-control" id="bAnswer" name="bAnswer" placeholder="Answer" />
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <label for="name" class="form-label">C</label>
                                <input type="text" class="form-control" id="cAnswer" name="cAnswer" placeholder="Answer" />
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <label for="name" class="form-label">D</label>
                                <input type="text" class="form-control" id="dAnswer" name="dAnswer" placeholder="Answer" />
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-3 d-none">
                                <input type="checkbox" name="isQuestionEdit" checked>Is Question Edit</input>
                                <!-- kiem tra xem co phai dang edit khong? -->
                            </div>
                            <div style="text-align: right" class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-3 ml-auto">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button type="button" onclick="location.href='/seller/courses/create/2/<%= cou._id %>'"
                                    class="btn btn-secondary mt-3">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        <% }) %>
    </div>
</div>