<div class="seller__wrapper">
    <div class="container">
        <div class="row header-seller-home">
            <!-- <div class="col-md-2 category">
                <div class="logo">
                    <a href="/" id="logo"><img src="./assets/images/logo.png" alt="">
                        CodeEveryDay</a>
                </div>
                <div class="category-list">
                    <ul>
                        <li class="category-item">
                            <box-icon type='solid' name='videos'></box-icon>
                          <a class="category-link" href="">Courses</a>
                        </li>
                        <li class="category-item ">
                            <box-icon name='message-alt-detail'></box-icon>
                           <a class="category-link" href=""> Communication</a>
                        </li>
                        <li class="category-item" >
                            <box-icon name='bar-chart-alt-2' type='solid' ></box-icon>
                          <a class="category-link" href="">Performance</a>
                        </li>
                        <li class="category-item" >
                            <box-icon name='wrench' type='solid' ></box-icon>
                            <a class="category-link" href="">Tools</a>
                        </li>
                        <li class="category-item" >
                            <box-icon name='support'></box-icon>
                            <a class="category-link" href="">Tools</a>
                        </li>

                    </ul>

                </div>

            </div>
            <div class="col-md-10"> -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row create-your">
                    <h1 class="col-lg-6 col-md-8 col-sm-12 col-xs-12 create-title ">
                        Jump Into Course Creation
                    </h1>
                    <a class="col-lg-6 col-md-4 col-sm-12 col-xs-12 btn-create-your"
                        href="/seller/courses/create/1">Create Your Course</a>

                </div>

                <h2 class="resources-title">Based on your experience, we think these resources will be helpful.</h2>
                <div class="chart-container">
                    <div class="pie-chart-container">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <% courses.forEach(function(courses) { %>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row instructor-dashboard--panel">
                        <div class="instructor-dashboard--resource"><img alt="" width="300" height="200"
                                class="instructor-dashboard--resource-image" src="<%= courses.image %>">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 instructor-dashboard--resource-text">
                            <h3 class="name-course">
                                <%= courses.name %>
                            </h3>
                            <h4 class="price"><span>Price: </span>A$<%= courses.price %>
                            </h4>
                            <h5 class="date-create"><span>Create: </span> 2021 - 12 - 31</h5>
                            <p class="description"><span>Description: </span>
                                <%= courses.shortDescription %>
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 button-right">
                            <button onclick="location.href='/seller/courses/<%= courses._id %>/edit'" type="edit"
                                class="btn btn-info edit">Edit</button>
                            <a href="/seller/courses/<%= courses._id %> " type="detail"
                                class="btn btn-primary detail">Detail</a>
                        </div>
                    </div>
                </div>
                <% }); %>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row instructor-dashboard--panel">
                    <div class="instructor-dashboard--resource"><img alt="" width="300" height="200"
                            class="instructor-dashboard--resource-image"
                            src="https://s.udemycdn.com/instructor/dashboard/engaging-course.jpg">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 instructor-dashboard--resource-text">
                        <h3 class="name-course">Nodejs and ExpressJs</h3>
                        <h4 class="price"><span>Price:</span> A$988</h4>
                        <h5 class="date-create"><span>Create:</span> 2021 - 12 - 31</h5>
                        <p class="description"><span>Description:</span> Assumenda occaecati debitis repudiandae. Voluptatem laudantium similique
                            amet porro voluptate suscipit. Qui quidem est ad qui. </p>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 button-right">
                        <button onclick="location.href='/seller/courses/id/edit'"    type="edit" class="btn btn-info edit">Edit</button>
                        <button type="detail" class="btn btn-primary detail">Detail</button>
                    </div>
                </div>
            </div> -->
                    <div class="col-lg-12">
                        <div class="instructor-dashboard-footer">
                            <h2 class="instructor-dashboard--footer-title">Are You Ready to Begin?</h2>
                            <a href="/seller/courses/create/1" class="instructor-dashboard-button"><span>Create
                                    Your Course</span></a>
                        </div>
                    </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const kq = [12,19,15,15,12];
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Học Lập Trình NodeJS', 'Lập trình web cho người mới bắt đầu', 'Khóa học lập trình web', 'Khóa học lập trình Javascript', 'Khóa học Java cơ bản đến nâng cao'],
            datasets: [{
                label: '# of Votes',
                data: kq,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235,1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],

            }],
            // hoverOffset: 4
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        font: {
                            size: 18
                        }
                    }
                },
                title: {
                    display: true,
                    text: 'Doanh thu của 5 khóa học cao nhất trong tháng này',
                    font: {
                        size: 26,
                        weight: 'bold',
                    }
                },
               
            },
           
        }
    });

</script>