<div class="seller__wrapper">
    <div class="container">
        <div class="row header-seller-home">
            <!-- <div class="col-md-2 category">
                <div class="logo">
                    <a href="/" id="logo"><img src="./assets/images/logo.png" alt="">
                        CodeEveryDay</a>
                </div>
                <div class="category-list">
                    <ul>
                        <li class="category-item">
                            <box-icon type='solid' name='videos'></box-icon>
                          <a class="category-link" href="">Courses</a>
                        </li>
                        <li class="category-item ">
                            <box-icon name='message-alt-detail'></box-icon>
                           <a class="category-link" href=""> Communication</a>
                        </li>
                        <li class="category-item" >
                            <box-icon name='bar-chart-alt-2' type='solid' ></box-icon>
                          <a class="category-link" href="">Performance</a>
                        </li>
                        <li class="category-item" >
                            <box-icon name='wrench' type='solid' ></box-icon>
                            <a class="category-link" href="">Tools</a>
                        </li>
                        <li class="category-item" >
                            <box-icon name='support'></box-icon>
                            <a class="category-link" href="">Tools</a>
                        </li>

                    </ul>

                </div>

            </div>
            <div class="col-md-10"> -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row create-your">
                    <h1 class="col-lg-6 col-md-8 col-sm-12 col-xs-12 create-title ">
                        Jump Into Course Creation
                    </h1>
                    <a class="col-lg-6 col-md-4 col-sm-12 col-xs-12 btn-create-your"
                        href="/seller/courses/create/1">Create Your Course</a>

                </div>
                <% if (userCoursesName.length > 0) {%>
                <h2 class="resources-title">Based on your experience, we think these resources will be helpful.</h2>
                <div class="chart-container">
                    <div class="pie-chart-container">
                        <canvas id="myChart" width="1000" height="1000"></canvas>
                    </div>
                </div>
                <% } else { %>
                <h2 class="resources-title d-none">Based on your experience, we think these resources will be helpful.</h2>
                <div class="chart-container d-none">
                    <div class="pie-chart-container">
                        <canvas id="myChart" width="1000" height="1000"></canvas>
                    </div>
                </div>
                <% } %>
            </div>
            <% courses.forEach(function(courses) { %>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row instructor-dashboard--panel">
                    <div class="instructor-dashboard--resource"><img alt="" width="300" height="200"
                            class="instructor-dashboard--resource-image"
                            src="<%= courses.image %>">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 instructor-dashboard--resource-text">
                        <h3 class="name-course"><%= courses.name %></h3>
                        <h4 class="price"><span>Price: </span>A$<%= courses.price %></h4>
                        <h5 class="date-create"><span>Create: </span> 2021 - 12 - 31</h5>
                        <p class="description"><span>Description: </span><%= courses.shortDescription %></p>
                        <% if(!courses.isValidated) { %>
                        <h6>Status: <span class="text-warning">Awaiting Approval</span></h6>
                        <% } else { %>
                        <h6>Status: <span class="text-success">Verified</span></h6>
                        <% } %>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 button-right">
                        <button onclick="location.href='/seller/courses/<%= courses._id %>/edit'" type="edit" class="btn btn-info edit">Edit</button>
                        <a href="/seller/courses/<%= courses._id %> " type="detail" class="btn btn-primary detail">Detail</a>
                    </div>
                </div>
                </div>
                <% }); %>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row instructor-dashboard--panel">
                    <div class="instructor-dashboard--resource"><img alt="" width="300" height="200"
                            class="instructor-dashboard--resource-image"
                            src="https://s.udemycdn.com/instructor/dashboard/engaging-course.jpg">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 instructor-dashboard--resource-text">
                        <h3 class="name-course">Nodejs and ExpressJs</h3>
                        <h4 class="price"><span>Price:</span> A$988</h4>
                        <h5 class="date-create"><span>Create:</span> 2021 - 12 - 31</h5>
                        <p class="description"><span>Description:</span> Assumenda occaecati debitis repudiandae. Voluptatem laudantium similique
                            amet porro voluptate suscipit. Qui quidem est ad qui. </p>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 button-right">
                        <button onclick="location.href='/seller/courses/id/edit'"    type="edit" class="btn btn-info edit">Edit</button>
                        <button type="detail" class="btn btn-primary detail">Detail</button>
                    </div>
                </div>
            </div> -->
                    <div class="col-lg-12">
                        <div class="instructor-dashboard-footer">
                            <h2 class="instructor-dashboard--footer-title">Are You Ready to Begin?</h2>
                            <a href="/seller/courses/create/1" class="instructor-dashboard-button"><span>Create
                                    Your Course</span></a>
                        </div>
                    </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Truyền giá trị
    const userCoursesName =  "<%- userCoursesName%>" ;
    const userCoursePrices = "<%- userCoursePrices%>";
    var lableCourse = userCoursesName.split(',');
    var dataCourse = userCoursePrices.split(',');
    const dataCoursePrice = dataCourse;
    const labels =  lableCourse;
    var randomColor = [];
    for(let i = 0; i < dataCoursePrice.length-10; i++){
        var x = Math.floor(Math.random() * 256);
        var y = 100+ Math.floor(Math.random() * 256);
        var z = 50+ Math.floor(Math.random() * 256);
        var bgColor = "rgba(" + x + "," + y + "," + z + ",1)";
        var rdColor = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6)
        randomColor.push(bgColor);
    }
    const data = {
            labels,
            datasets: [{
                label: '# of Votes',
                data: dataCoursePrice,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235,1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(215, 199, 32, 1)',
                    'rgba(154, 16, 25,1)',
                    'rgba(225, 26, 186, 1)',
                    'rgba(175, 134, 122, 1)',
                    'rgba(123, 152, 154, 1)',
                    ...randomColor
                ],
            }],
    }
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    // display: false,
                    position: 'right',
                    labels: {
                        font: {
                            size: 20
                        },
                        color: "#e40084"
                    }
                },
                title: {
                    display: true,
                    text: 'Doanh thu của các khóa học',
                    font: {
                        size: 28
                    },
                    color: "#e40084"
                },
            }
        }
    });

</script>