<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../elements/header %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/user-learning.css" />
</head>

<body>
  <div class="wrapper">
    <div class="nav__header">
      <div class="container">
        <a href="/"><img src="/assets/images/logo.png" alt="">
          CodeEveryDay</a>
      </div>
    </div>
    <div class="container-fluid row">
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 content__left">
        <div class="video-lesson">
          <iframe id="player" width="100%" height="100%"
            src="https://www.youtube.com/embed/<%= currentLesson.urlVideo%>?enablejsapi=1" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 content__right mb-5">
        <div class="p-3">
          <h6>
            <%= course.name %>
          </h6>
          <p>Hoàn thành <strong>
              <%= sumFinish %>/<%= sumCountLesson %>
            </strong> bài học (<strong>
              <%= percentFinish.toFixed(0) %>%
            </strong>)</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: <%= percentFinish %>%">
              <%= percentFinish.toFixed(0) %>% done
            </div>
          </div>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button playlist-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#part1" aria-expanded="true">
                Phần 1: Bắt đầu
              </button>
            </h2>
            <div id="part1" class="accordion-collapse collapse show">
              <% let idLesson=1; %>
                <% lessons.forEach(lesson=>{%>
                  <a href="/learning/<%= course._id %>?videos=<%= lesson._id%>"
                    class="d-flex align-items-center lesson-description active">
                    <% if(mapIsFisnish[lesson._id]==true){ %>
                      <div class="check">
                        <i style="color: rgb(29, 216, 29);" class='bx bxs-check-circle'></i>
                      </div>
                      <% }else{ %>
                        <div class="check">
                          <i style="color: none;" class='bx bxs-check-circle'></i>
                        </div>
                        <% } %>
                          <div class="ml-2">
                            <% if(userTracking.lesson_id == lesson._id){ %>
                              <div style="color: #e40084; font-weight: bold;" class="lesson-name">Lesson
                                <%=idLesson++ %>: <%=lesson.title %>
                              </div>
                              <p style="color: rgb(199, 77, 6); font-weight: bold;" class="lesson-time">08:04</p>
                              <% }else{ %>
                                <div class="lesson-name">Lesson
                                  <%=idLesson++ %>: <%=lesson.title %>
                                </div>
                                <p class="lesson-time">08:04</p>
                                <% } %>
                                  <!-- <p class="lesson-name">1. <%=lesson.title  %> </p> -->
                          </div>
                  </a>

                  <% }) %>

                    <!-- <div class="d-flex align-items-center lesson-description">
                <div class="check">
                  <i class="fas fa-check"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">2. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
              <div class="d-flex align-items-center lesson-description lock-lesson">
                <div class="lock">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">3. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>-->
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 content__left">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
              type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
              type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Ghi Chú</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
              type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Liên Quan</button>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="nav-home-tab">
              <% lessons.forEach(lesson=>{%>
                <p>
                  <%= lesson.description %>
                </p>

                <%}) %>
                  <p>Các bạn subscribe kênh Youtube CodeEveryDay để nhận thông báo khi có các bài học mới nhé ❤️</p>
                  <div class="justify-content-between">
                    <h3 class="my-3">33 Review</h3>

                    <div class="d-flex justify-content-center row">
                      <div class="col-md-12">
                        <div class="d-flex flex-column comment-section">
                          <% commentUser.forEach(function(comment) { %>
                            <div class="bg-white p-2">
                              <div class="d-flex flex-row user-info"><img class="rounded-circle"
                                  src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                                <div class="d-flex flex-column justify-content-start ml-2"><span
                                    class="d-block font-weight-bold name">
                                    <%= comment.user_id.username %>
                                  </span><span class="date text-black-50">
                                    <%= comment.createdAt.getDate() %>/
                                      <%= comment.createdAt.getMonth()+1 %>/
                                        <%= comment.createdAt.getFullYear() %>
                                  </span></div>
                              </div>
                              <div class="mt-2">
                                <p class="comment-text">
                                  <%= comment.commentContent %>
                                </p>
                              </div>
                              <div class="response__comment">
                                <div class="block__comment">
                                  <div class="response__comment-item response__comment-title">
                                    <p>Phản hồi của người bán</p>
                                  </div>
                                  <% if (comment.analyzeComment=="Positive" ) {%>
                                    <div class="response__comment-item response__comment-comment">
                                      <p>Cảm ơn những đánh giá tích cực từ bạn. Chúng mình sẽ phát triển thêm nhiều hơn
                                        nữa từng ngày.
                                        Những lời góp ý của bạn là nguồn động viên tinh thần rất lớn cho mình. Mong bạn
                                        tiếp tục ủng hộ mình
                                        trong những khóa học tiếp theo. Hãy tham gia nhóm của mình trên facebook để có
                                        thể trao đổi thông tin với nhau nhá.
                                      </p>
                                      <p>
                                        Thank you for your positive reviews. We will develop more and more day by day to
                                        improve this course and another.
                                        Your comments are a great encouragement for me. Hope you continue to support me
                                        in the future. Please join the group Facebook to be exchange information with
                                        each other.
                                      </p>
                                    </div>
                                    <%} else if (comment.analyzeComment=="Negative" ) {%>
                                      <div class="response__comment-item response__comment-comment">
                                        <p>Chúng mình rất xin lỗi nếu đã mang trải nghiệm tệ đến bạn, những sự góp ý của
                                          bạn chúng mình sẽ ghi nhận và thay đổi
                                          trong tương lai. Bọn mình cảm ơn bạn đã mua và trải nghiệm khóa học của bọn
                                          mình, những ý kiến từ những trải nghiệm tệ
                                          của bạn có thể là nguồn tài nguyên lớn để cải thiện chất lượng của những khóa
                                          học bọn mình trong thời gian tới. Hãy tham
                                          gia group Facebook để có thể trao đổi thông tin với nhiều người hơn về những
                                          vấn đề của bạn. Cảm ơn bạn đã mua khóa học
                                        </p>
                                        <p>
                                          We apologize if we caused you any inconvenience, your feedback will be taken
                                          into consideration and changed in the future.
                                          We appreciate your purchasing and taking our course, as well as any negative
                                          feedback.
                                          Yours feedback could be a valuable resource for us in the future as we strive
                                          to improve the quality of our courses.
                                          Join the Facebook group to share information about your concerns with a more
                                          individuals.
                                          Thank you for taking the time to purchase the course.
                                        </p>
                                      </div>
                                      <% } else {%>
                                        <div class="response__comment-item response__comment-comment">
                                          <p>
                                            Cảm ơn bạn đã mua khóa học, nếu bạn có vấn đề nào hãy tham gia nhóm group
                                            Facebook để có thể trao đổi với mọi người về vấn đề bạn gặp
                                            phải. Nếu bạn gặp vấn đề nào hãy để lại bình luận chúng tôi sẽ liên hệ bạn
                                            trong thời gian sớm nhất. Chúc bạn xem khóa học vui vẻ.
                                            Một ngày tốt lành cho bạn
                                          </p>
                                          <p>
                                            Thank you for purchasing the course; if you have any issues, please join the
                                            Facebook group so that you may discuss them with others.
                                            Please leave a remark if you have any issues, and we will get back to you as
                                            soon as possible. Have fun watching the course. Have a good day
                                          </p>
                                        </div>
                                        <% } %>
                                </div>
                              </div>
                            </div>
                            <% }); %>
                              <div class="bg-white">
                                <div class="d-flex flex-row fs-12">
                                  <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span
                                      class="ml-1">Like</span></div>
                                  <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span
                                      class="ml-1">Comment</span></div>
                                  <div class="like p-2 cursor"><i class="fa fa-share"></i><span
                                      class="ml-1">Share</span></div>
                                </div>
                              </div>
                              <form method="POST" action="/learning/<%= course._id %> ">
                                <div class="bg-light p-2">
                                  <div class="d-flex flex-row align-items-start"><img class="rounded-circle"
                                      src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea
                                      class="form-control ml-1 shadow-none textarea" name="comment"></textarea></div>
                                  <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none"
                                      type="submit">Post comment</button><button
                                      class="btn btn-outline-primary btn-sm ml-1 shadow-none"
                                      type="button">Cancel</button></div>
                                </div>
                              </form>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Trang ghi chú
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Trang liên quan
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../elements/script %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var player, timer, timeSpent = [], display = document.getElementById('display');
      var highestPercent = 0;
      function onYouTubeIframeAPIReady() {

        player = new YT.Player('player', {
          events: { 'onStateChange': onPlayerStateChange, 'onReady': () => { player.seekTo(player.getDuration() / 100 *<%= progress %>); } }
        });
        // console.log(player);

      }

      function onPlayerStateChange(event) {
        if (event.data === 1) { // Started playing

          if (!timeSpent.length) {
            for (var i = 0, l = parseInt(player.getDuration()); i < l; i++) timeSpent.push(false);
          }
          timer = setInterval(record, 100);
        } else {
          clearInterval(timer);
        }
      }

      function record() {
        timeSpent[parseInt(player.getCurrentTime())] = true;
        showPercentage();
      }

      function showPercentage() {
        var percent = 0;
        for (var i = 0, l = timeSpent.length; i < l; i++) {
          if (timeSpent[i]) percent++;
        }
        percent = Math.round(percent / timeSpent.length * 100);
        highestPercent = Math.max(highestPercent, (player.getCurrentTime() / player.getDuration() * 100));
        // display.innerHTML = (player.getCurrentTime() / player.getDuration() * 100) + "%";
      }
      window.addEventListener('beforeunload', function () {
        fetch('/learning/lesson/<%= currentLesson._id%>', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            progress: (player.getCurrentTime() / player.getDuration() * 100),
            highestPercent
          })
        }).then((res) => res.json());
        return
      })

    </script>
    <script>

    </script>
    <!-- <script>
      const statuses= document.querySelectorAll('.status')
      const checkes = document.querySelectorAll('.check')
      console.log(checkes);
      const load = window.onload =() => {
        statuses.forEach(status =>{
          checkes.forEach(check=>{
            if(status.nextSibling == check){
              console.log('dung');
            }else{
              console.log('sai');
            }
          })
        })
      }
    </script> -->
</body>

</html>