<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../elements/header %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/user-learning.css" />
</head>

<body>
  <div class="wrapper">
    <div class="nav__header">
      <div class="container">
        <a href="/"><img src="/assets/images/logo.png" alt="">
          CodeEveryDay</a>
      </div>
    </div>
    <div class="container-fluid row">
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 content__left">
        <div class="video-lesson">
          <iframe id="player" width="100%" height="100%"
            src="https://www.youtube.com/embed/<%= currentLesson.urlVideo%>?enablejsapi=1" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
              type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
              type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Ghi Chú</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
              type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Liên Quan</button>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="nav-home-tab">
              <% lessons.forEach(lesson=>{%>
                <p>
                  <%= lesson.description %>
                </p>
               
                <%}) %>
                 <p>Các bạn subscribe kênh Youtube CodeEveryDay để nhận thông báo khi có các bài học mới nhé ❤️</p>
                  <div class="justify-content-between">
                    <h3 class="my-3">33 hỏi đáp</h3>
                    <div class="share">
                      <span>CHIA SẺ</span>
                    </div>
                    <div class="user-comment d-flex align-items-center">
                      <div class="user-avt">
                        <img src="https://placeimg.com/480/480" alt="photo">
                      </div>
                      <div class="comment__user">
                        <h6 class="user-name">
                          Người học
                        </h6>
                        <p>bài học tuyệt vời</p>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Trang ghi chú
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Trang liên quan
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 content__right">
        <div class="p-3">
          <h6>
            <%= course.name %>
          </h6>
          <p>Hoàn thành <strong>27/36</strong> bài học (<strong>75%</strong>)</p>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button playlist-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#part1" aria-expanded="true">
                Phần 1: Bắt đầu
              </button>
            </h2>
            <div id="part1" class="accordion-collapse collapse show">
              <% let idLesson=1; %>
                <% lessons.forEach(lesson=>{%>
                  <div class="d-flex align-items-center lesson-description">
                    <div class="check">
                      <i class="fas fa-lock"></i>
                    </div>
                    <div class="ml-2">
                      <a href="/learning/<%= course._id %>?videos=<%= lesson._id%>" class="lesson-name">Lesson
                        <%=idLesson++ %>: <%=lesson.title %></a>
                      <!-- <p class="lesson-name">1. <%=lesson.title  %> </p> -->
                      <p class="lesson-time">08:04</p>
                    </div>
                  </div>

                  <%}) %>

                    <!-- <div class="d-flex align-items-center lesson-description">
                <div class="check">
                  <i class="fas fa-check"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">2. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
              <div class="d-flex align-items-center lesson-description lock-lesson">
                <div class="lock">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">3. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
              <div class="d-flex align-items-center lesson-description lock-lesson">
                <div class="lock">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">3. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div>
              <div class="d-flex align-items-center lesson-description lock-lesson">
                <div class="lock">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="ml-2">
                  <p class="lesson-name">3. Tên bài học</p>
                  <p class="lesson-time">08:04</p>
                </div>
              </div> -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <% include ../elements/script %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var player, timer, timeSpent = [], display = document.getElementById('display');
      var highestPercent = 0;
      function onYouTubeIframeAPIReady() {

        player = new YT.Player('player', {
          events: { 'onStateChange': onPlayerStateChange, 'onReady': () => { player.seekTo(player.getDuration() / 100 *<%=progress %>); } }
        });
        // console.log(player);

      }

      function onPlayerStateChange(event) {
        if (event.data === 1) { // Started playing

          if (!timeSpent.length) {
            for (var i = 0, l = parseInt(player.getDuration()); i < l; i++) timeSpent.push(false);
          }
          timer = setInterval(record, 100);
        } else {
          clearInterval(timer);
        }
      }

      function record() {
        timeSpent[parseInt(player.getCurrentTime())] = true;
        showPercentage();
      }

      function showPercentage() {
        var percent = 0;
        for (var i = 0, l = timeSpent.length; i < l; i++) {
          if (timeSpent[i]) percent++;
        }
        percent = Math.round(percent / timeSpent.length * 100);
        highestPercent = Math.max(highestPercent, (player.getCurrentTime() / player.getDuration() * 100));
        // display.innerHTML = (player.getCurrentTime() / player.getDuration() * 100) + "%";
      }
      window.addEventListener('beforeunload', function () {
        fetch('/learning/lesson/<%= currentLesson._id%>', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            progress: (player.getCurrentTime() / player.getDuration() * 100),
            highestPercent
          })
        }).then((res) => res.json());
        return
      })

    </script>
</body>

</html>